<html>
 <head>
  <meta charset="utf-8">
  <title>Горизонтальный список</title>
<style>

	@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
 
@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
 


    #menu, #menu li {

         /* убрать внутренние отступы */

         /* убрать внешние отступы */
       

    }

    #menu {
    	text-align: center;
    	padding: 15px;
         /* цвет фона навигационной панели */

    }

    #menu li{

    	margin-top : 10px;
    	text-align: center;
    	 border: 2px solid black;
    	background: #03658e;
    	padding: 15px 30px;
        display:inline-block; /* расположить пункты горизонтально */

         /* текст горизонтально по центру */

    }

    #menu li h1 a {

     display: block; /* Ссылка как блочный элемент */
     text-align: center; /* Выравнивание по центру */
     height: 100%; /* Высота на весь слой */
     color: white; /* Цвет ссылки */
    

        text-decoration: none; /* убрать нижнее подчёркивание у ссылок */

    }

    #menu li:hover {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}
#menu li a:hover {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
   
</style>
</head>
<body>
<ul id="menu">
<li style="color: white; width: 19%; height: 19%;" href="#">
<h1 style="text-align: center; color: white;text-decoration: none;"><%=@product.title%></h1>
<p style="text-align: center;"> <i>Author</i> : <%= @product.author%></p>
<h5 style="text-align: center;color: white"><%= @product.body%></h5>
<div style="text-align: center;">
<img src="<%=@product.image_file_name%>"; style="width: 250px; border: 1px solid black; height: 320px">
</div>
<p><i>Category : </i><%= @product.category.name%><i style="margin-left:40px;">Price : $</i><%=@product.price%></p>
<i>Hurry up! Only </i><b><%=@product.in_stock%></b><i> left! </i>

</li>


</ul>
</body>
</html>